<h1><%= @task.title %></h1>
<div class="container w-2 p-1">
<p class="text-area bg-secondary"><%= @task.details %></p>

<%= link_to "Edit this task", edit_task_path %>
<%= link_to "Back to list", tasks_path %>
